body {
    margin: 10px;
    background-color: aliceblue;
}

h2 {
    margin-top: 20px;
}

.wrapper {
    background-color: gold;
    margin: -10px -10px;
    padding: 10px;
}

h1 {
    color: darkslateblue;
    font-size: 4em;
}

input textarea,
select {
    margin: 10px 0;
}

form [type="submit"] {
    margin: 10px auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.username {
    position: absolute;
    right: 10px;
    bottom: 7px;
    font-size: 1rem;
    color: #555;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    margin: 0;
    list-style: none;
}

.nav li {
    margin: 0 10px;
    background-color: #f8f9fa;
}

.nav a {
    text-decoration: none;
    color: darkgreen;
}

.auction-item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.auction-item .left-column {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auction-item .right-column {
    flex: 1;
    padding: 30px 15px;
}

.auction-details {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}